doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascript/bootstrap-3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.6.2.min.js')
  body
    block header
      div.header
        div.container-fluid
          p.h1.col-sm-11.title 欢迎
          p.col-sm-1.login.h4
            a(href="/login") 登录
    block content