extends layout
    
block content
    script(src='/javascript/reptile.js')
    div.main-frame
        div.container-fluid
            div.urlrow.row.col-sm-12
                div.col-sm-10
                    label.h4.col-sm-1(for ='url')  Url : 
                    input#url.col-sm-11(type = 'text', value='http://www.192tt.com/gq') 
                div.col-sm-2
                    button#fetch.col-sm-11.btn.btn-default 获取
        div.container-fluid#btnList
            button.subC.btn.btn-primary