extends layout
    
block content
    script(src='/javascript/reptile.js')
    div.main-frame
        div.container-fluid
            div.urlrow.row.col-lg-12
                div.col-lg-10
                    label.col-xs-1(for ='url')  Url : 
                    input#url.col-xs-11(type = 'text')
                div.col-lg-2
                    button#fetch.col-lg-11.btn.btn-default 获取