body {
  position: relative;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #224936;
}

.title {
  color: #FFFFFF;
}

.main-frame {
  margin-top: 10px;
}

.form-group {
  padding-top: 5px;
}

.urlrow {
  display: flex;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#btnList {
  position: relative;
  margin-top: 20px;
}

.subC {
  display: none;
}

.subD {
  margin: 20px;
}